$sidebar-width = 260px



.wrapper
  background-color: #fff
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  cursor: default


.header
  width: 100%
  height: 30px
  border-bottom: 2px solid #ddd
  overflow: hidden
  position: fixed
  top: 0
  left: 260px
  z-index: 20
  no-select()

.headerContent
  white-space: nowrap
  font-weight: 600
  font-size: 0
  .cell
    border-bottom 0
    font-size: 12px



// Sidebar ========================================== /

.sidebarHeader
  width: $sidebar-width
  height: 30px
  line-height: 30px
  background-color: #fff
  border-bottom: 2px solid #ddd
  border-right: 2px solid #ddd
  position: fixed
  z-index: 40
  text-align: center
  font-weight: 600
  font-size: 13px

.faq
  width: 30px
  height: 30px
  line-height: 30px
  background-color: #333
  position: absolute
  top: 0
  left: 0
  text-align: center
  font-weight: bold
  font-size: 14px
  color: #f3e4a8
  body.not-mobile &:hover .hint
    display: block

.hint
  display: none
  line-height: 22px
  padding: 15px
  background-color: rgba(0,0,0, 0.9)
  position: absolute
  top: 0
  left: 0
  z-index: 10
  color: #f3e4a8
  text-align: left
  font-size: 13px
  font-weight: normal
  white-space: nowrap
  letter-spacing: 0.1px
  border-radius: 0 0 3px 0
  ul
    margin: 0
    padding: 0 0 0 20px
  a
    color: #fff

:global(.not-mobile) .faq:hover .hint
  display: block


.sidebar
  width: $sidebar-width
  background-color: #fff
  border-right: 2px solid #ddd
  overflow-y: hidden
  overflow-x: scroll
  fixed top 30px left 0 bottom 0
  z-index: 10

.sidebarRow
  height: 30px
  line-height: 30px
  display: block
  border-bottom: 1px solid #ddd
  padding: 0 15px 0 45px
  position: relative
  overflow: hidden
  white-space: nowrap
  text-decoration: none
  text-overflow: ellipsis
  font-weight: bold
  font-size: 13px
  &.nextGroupStarts
    border-bottom-width 3px

.sidebarRow.hovered
  background-color: #fff8d9

.sidebarRowIndex
  width: 30px
  height: 100%
  border-right: 1px solid #ddd
  position: absolute
  top: 0
  left: 0
  text-align: center
  font-weight: normal
  font-size: 11px
  color #000



// Container ========================================== /

.container
  fixed top 30px left $sidebar-width right 0 bottom 0
  overflow scroll
  -webkit-overflow-scrolling: touch

.content
  no-select()
  display-inline-block()

.hr
  width: 100%
  height: 3px
  background-color: #ddd

.contentRow
  height: 30px
  white-space: nowrap
  display-inline-block()

.contentRow.hovered
  background-color: #fff8d9


.cell
  min-width: 65px
  height: 30px
  line-height: 30px
  border-right: 1px solid #ddd
  border-bottom: 1px solid #ddd
  text-align: center
  font-size: 13px
  text-decoration: none
  display-inline-block()
  .nextGroupStarts &
    border-bottom-width 3px


.cellResult
  background-color: #fffbf7
  min-width: 0


.cellRank
  width: 100px

.cellRoundCnt
  width: 70px

.cellSumm
  width: 60px

.cellAvg
  width: 72px

.cellPercent
  width: 55px
  border-right: 2px solid #ddd
