.sidebar
  width: 300px
  fixed top 0 left 0 bottom 0
  overflow-x hidden
  overflow-y auto

.content
  margin-left: 300px
  padding 20px

  
.name
  font-size: 36px


.info
  margin 20px 0 40px

.infoItem
  margin-top: 12px
  font-size: 18px
  &:first-child
    margin-top: 0

.infoItemLabel
  width: 170px
  color $color_gray_3
  display-inline-block()

.infoItemValue
  padding-left: 10px
  font-weight: 600
