input
  vertical-align: top
  margin: 0
  padding: 0
  border: 0
  box-shadow none !important
  &[type=submit]
    background: none
    cursor: pointer

input, textarea, button, select
  &:focus
    outline: none !important;
  &:-webkit-autofill
    background: #fff !important
    &:focus
      background: #fff !important
  &::-moz-focus-inner
    border: 0 !important

select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000
  appearance: normal
  -webkit-appearance: none
  -moz-appearance: radio-container

textarea
  resize: none



/* Square image */

.sq-img
  width: 100%
  height: 0
  background-color: #fff
  padding-bottom: 100%
  position: relative
  overflow: hidden
  img
    width: 100%
    absolute top 0 left 0 right 0 bottom 0
    margin auto


/* Additional */

.clear
  content: "."
  height: 0
  line-height: 0
  display: block
  clear: both
  visibility: hidden
  font-size: 0

.clearfix
  &:after
    @extend .clear


/* Titles */

for $i in (0..30)
  .fs_{$i * 1px}
    font-size: $i * 1px !important

.t-weight_300
  font-weight: 300 !important

.t-weight_600
.t-weight_bold
  font-weight: 600 !important


/* Padding */

.hp_3
  padding-left 3px

.hp_8
  padding-left 8px

.hp_{$padding}
  padding-left $padding

for $i in (1..6)
  .hp_{$i * 5}
    padding-left $i * 5px


/* Width / Height */

.t-w1p
  width: 1% !important
  white-space nowrap !important

for $i in (1..19)
  .t-w{$i * 10}
    width $i * 10px !important

for $i in (2..8)
  .t-w{$i * 50}
    width $i * 50px !important

for $i in (1..8)
  .t-min-w{$i * 100}
    min-width $i * 100px !important

for $i in (3..10)
  .t-max-w{$i * 100}
    max-width $i * 100px !important

for $i in (1..20)
  .t-w{$i * 5}p
    width $i * 5%
    box-sizing border-box

.t-h100p
  height: 100%

for $i in (1..20)
  .t-min-h{$i * 10}
    min-height $i * 10px !important


/* Types */

.t-float_left
  float left

.t-float_right
  float right

.t-cursor_pointer
  cursor: pointer !important

.t-hidden-input
  height: 0 !important
  padding 0 !important
  margin 0 !important
  position: fixed !important
  left: -9999px !important
  z-index: -1 !important


/* Text styling */

.t-center
  margin: 0 auto
  position: relative
  &.t-fixed
    height: 100%
    position: fixed
    left: 50%
    margin: 0 0 0 -490px

.t-text_left
  text-align: left !important

.t-text_right
  text-align: right !important

.t-text_center
  text-align: center !important

.t-text_white
  color #fff !important

.t-text_light
  color $color_light-text-color !important

.t-text_success
  color $color_ocean !important

.t-text_warning
  color $color_orange !important

.t-text_error
  color $color_red !important

.t-text-decoration_none
  text-decoration none !important

  
/* Link */

.t-link
.t-hyper-link
  color: $color_blue_darken
  text-decoration: none
  vertical-align top
  cursor: pointer
  &:visited
    color: $color_blue_darken
  &:hover
    text-decoration: underline
    color: $color_blue

.t-hyper-link
  position: relative
  border-bottom 1px dashed lighten($color_blue_darken, 30%)
  &:hover
    text-decoration: none
    border-bottom 0
